/.metadata/
venv/
env/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
*.log
.pytest_cache/
.coverage
htmlcov/
*.class
*.jar
bin/
.settings/
.project
.classpath
.pydevproject
GitHub/
SPYDER/
workingdir
config/
db/
defaults/
*.sqlite
*.bak
*.ini
help
onlinehelp
langconfig
history.py
history_internal.py
pdb_history.sqlite
spyder.ini*
transient.ini*
Capstone_Project/
Data_Warehouse_Project_Template/
*.csv
*.zip
*.html
